.me {
  position: relative;
    margin-top: 10%;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgb(22 78 99 / var(--tw-bg-opacity));
    text-align: center;
}
.image_wrapper {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: center;

}

.imageMe {
  border-radius: 50%;
      display: block;

}

.headingMe {
  margin-bottom: 1.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}
.spanMe {
  margin-right: 0.5rem;
  margin-top: -3rem !important;
}
