
.buttonEmail{
    display: inline-block;
     margin-bottom: 1.75rem;
    padding: 0 0.5rem;
    text-align: center;
}
.buttonEmail a{
    border-radius: 0.75rem /* 12px */;
  display: flex;
  align-items: center;
  background-color: rgb(14 41 74 / var(--tw-bg-opacity));
padding: 0.7rem 2rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1s; 
}
.buttonEmail a:hover{
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  transition-duration: 0.6s;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}
.buttonEmail span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.625rem;
}
